@import '@/styles/main.scss';

.wrap {
    padding: 12px;
    border: 1px solid #353542;
    border-radius: 16px;
    display: flex;
    align-items: center;
}

.image {
    
}

.title {
    margin-left: 15px;
    flex-grow: 1;
}

.price {

}